body {
    background:url("/assets/bg-header-desktop.png");
    background-repeat: no-repeat;
}

header h1 {
    margin: 128px 0 56px;
}

header h2 {
    font-size: 46px;
    line-height: 57px;
    letter-spacing: -0.75px;
    margin: 16px 0;
}

header {
    display: block;
    margin: 0 24%;
}

header p.header {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    margin: 0;
}

div.cta-btns {
    margin: 48px 0 150px;
    display: flex;
    justify-content: center;
}

div.cta-btns a {
    margin: 0 8px;
    width: 227px;
    height: 56px;
}

.keep-track {
    
}